// Project content
.project_container {
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--tasks-bg-color);
    gap: 2rem;

    .project_main_title {
        font-size: 2rem;
        font-weight: bold;
        margin: 0;
    }

    .project_main_content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 80%;
        padding: .5rem 5% 0 5%;
        gap: 2rem;
    }
}


// Todo tab content
.todo_tab {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 0 0 48%;
    height: fit-content;
    max-height: 100%;
    gap: 1.25rem;
    padding: 1rem;
    transition: all .9s ease-in-out;
    border-radius: .25rem;
    overflow-y: auto;

    .tab_top_row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem 1rem 1rem;

        h3 {
            margin: 0;
            text-transform: capitalize;
            font-size: 1.45rem;
        }

        .tab_top_row_utils_container {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;

            .tab_top_row_search_input_container {

                input {
                        border-radius: .25rem;
                        padding: .3rem .5rem;
                        font-size: 1rem;
                        box-shadow: 0 0 .225rem var(--app-general-box-shadow-color);
                        font-family: 'Roboto', sans-serif;
                
                        &:focus {
                            box-shadow: 0 0 .4rem var(--app-general-box-shadow-color);
                        }
                    }
            }

            .tab_top_row_sort_buttons {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 1rem;

                .sort_button_container {
                    padding: .075rem;

                    i {
                        font-size: 1.2rem;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.active_tab {
    background-color: var(--app-primary-color);

    .tab_top_row {
        border-bottom: .01rem solid var(--app-primary-support-color);

        .tab_top_row_utils_container {

            .tab_top_row_search_input_container {

                input {
                    border: .09rem solid var(--app-primary-support-color);

                    &:focus {
                        outline: .025rem solid var(--app-primary-support-color);
                    }
                }
            }

            .tab_top_row_sort_buttons {

                .sort_button_container {
                    border: .1rem solid var(--app-primary-support-color);

                    i {
                        color: var(--app-primary-support-color);
                    }
                }
            }
        }
    }

    &.dragging_over {
        @keyframes changeToPrimarySupportColor {
            0% {
                background-color: var(--app-primary-color);
            }

            100% {
                background-color: var(--app-primary-support-color);
            }
        }
        animation: changeToPrimarySupportColor 1s ease-in-out 0s infinite alternate;
    }
}

.completed_tab {
    background-color: var(--app-secondary-color);

    .tab_top_row {
        border-bottom: .01rem solid var(--app-secondary-support-color);

        .tab_top_row_utils_container {

            .tab_top_row_search_input_container {

                input {
                    border: .09rem solid var(--app-secondary-support-color);

                    &:focus {
                        outline: .025rem solid var(--app-secondary-support-color);
                    }
                }
            }

            .tab_top_row_sort_buttons {

                .sort_button_container {
                    border: .1rem solid var(--app-secondary-support-color);

                    i {
                        color: var(--app-secondary-support-color);
                    }
                }
            }
        }
    }

    &.dragging_over {
        @keyframes changeToSecondarySupportColor {
            0% {
                background-color: var(--app-secondary-color);
            }

            100% {
                background-color: var(--app-secondary-support-color);
            }
        }
        animation: changeToSecondarySupportColor 1s ease-in-out 0s infinite alternate;
    }
}


// TodoList content
.todolist_container {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    gap: .75rem;
    margin: 0;
    padding: 0;
    //padding: .25rem;
    //overflow-y: auto;

    .todo_item {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--app-intermediate-color);
        box-shadow: 0 0 .15rem var(--app-general-box-shadow-color);
        border-radius: .5rem;
        padding: .25rem 1rem;
        cursor: grab;
        transition: all .2s ease-in-out;

        &.todo_item_priority {
            border: .01rem solid var(--app-secondary-color);
            background-color: var(--app-intermediate-support-color);
            box-shadow: 0 0 .35rem .1rem var(--app-intermediate-support-color);
            scale: 1.01;

            &:hover {
                box-shadow: 0 0 .8rem var(--todo-item-hover-bg-color);
            }

            .todo_item_text {
                color: var(--app-special-color);
            }

            .todo_item_btn_container {
    
                .todo_item_icon_container {
                    border: .01rem solid var(--app-secondary-support-color);
                }
            }

            .todo_item_edit_form {

                .todo_item_edit_input {
                    border: .01rem solid var(--app-intermediate-support-color);
    
                    &:focus {
                        outline: .025rem solid var(--app-intermediate-support-color);
                    }
                }
    
                button {
                    background-color: var(--app-intermediate-support-color);
                    border: .01rem solid var(--app-secondary-support-color);
                    box-shadow: 0 0 .115rem var(--app-general-box-shadow-color);
                }
            }
        }

        &:hover {
            scale: 1.05;
            box-shadow: 0 0 .35rem var(--todo-item-hover-box-shadow-color);
        }

        &.dragging {
            box-shadow: 0 0 2rem .35rem var(--todo-item-dragging-hover-box-shadow-color);
        }

        &.drop_animating {
            opacity: .5;
        }

        .todo_item_edit_form {
            margin: .8rem 0;
            width: 65%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: .5rem;

            .todo_item_edit_input {
                flex: 6;
                padding: .375rem .5rem;
                border-radius: .25rem;
                border: .01rem solid var(--app-intermediate-color);
                box-shadow: 0 0 .15rem var(--app-general-box-shadow-color);

                &:focus {
                    box-shadow: 0 0 .3rem var(--app-general-box-shadow-color);
                    outline: .025rem solid var(--app-intermediate-color);
                }
            }

            button {
                flex: 1;
                background-color: var(--app-intermediate-color);
                border: .01rem solid var(--app-special-support-color);
                box-shadow: 0 0 .115rem var(--app-general-box-shadow-color);
                border-radius: .25rem;
                padding: .2rem .5rem;
                cursor: pointer;
            }
        }

        .todo_item_text {
            color: var(--todo-item-text-color);
            word-wrap: break-word;
            width: 65%;
            font-size: 1.05rem;
            letter-spacing: .015rem;
            line-height: 1.35rem;
        }

        .todo_item_btn_container {
            display: flex;
            gap: .9rem;
            width: 30%;
            align-items: center;
            justify-content: flex-end;

            .todo_item_icon_container {
                border: .01rem solid var(--app-special-support-color);
                box-shadow: 0 0 .115rem var(--app-general-box-shadow-color);
                border-radius: .25rem;
                padding: .8rem;
                width: 1.5rem;
                height: 1.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                &:hover {
                    translate: 0 -8%;
                    //color: var(--app-special-support-color);
                }

                i {
                    font-size: 1.05rem;
                    color: var(--todo-item-text-color);
                }

                &:nth-of-type(1),
                &:nth-of-type(2) {
                    i {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}