// Media query for mobile content (portrait)
@media screen and (max-width: 500px) {

    // Home content
    .home_container {
        width: 95%;
        height: 80%;
        gap: 1.25rem;

        .home_projects_main_title {
            font-size: 1.55rem;
        }

        .home_projects_container {
            gap: .1rem;
            padding: .1rem;
            height: 80%;

            .home_single_project_container {
                width: 42.5%;
                height: 42.5%;
                gap: .5rem;
                padding: .35rem;
                margin: .4rem 0;

                &:hover {
                    transform: translateY(0);
                }

                .home_single_project_edit_container {

                    .home_single_project_edit_input {
                        width: 85%;
                        padding: .35rem .5rem;
                        font-size: .75rem;
                    }

                    .home_single_project_edit_button {
                        font-size: .8rem;
                        padding: .2rem .25rem;
                        width: 35%;
                    }
                }

                .home_single_project_link {
                    gap: .2rem;

                    .project_title_text {
                        font-size: 1rem;
                        letter-spacing: .02rem;
                        line-height: 1.05rem;
                    }

                    .project_date_text {
                        font-size: .65rem;
                    }
                }

                .project_buttons_container {
                    gap: 1.25rem;
                    flex: 1;

                    .project_button_container {
                        width: 1.35rem;
                        height: 1.35rem;
                        padding: .45rem;

                        i {
                            font-size: .9rem;

                        }

                        &:hover {
                            translate: 0 0;
                            color: var(--app-text-color);
                        }
                    }
                }
            }
        }
    }
}

// Media queries for mobile content (landscape)
@media screen and (max-height: 650px) and (min-width: 501px) and (max-width: 1000px) {

    // Home content
    .home_container {
        width: 95%;
        height: 78.5%;
        gap: .75rem;

        .home_projects_main_title {
            font-size: 1.45rem;
        }

        .home_projects_container {
            gap: .15rem;
            padding: 0 .15rem;

            .home_single_project_container {
                width: 29%;
                height: 42.5%;
                gap: .15rem;
                padding: .15rem .25rem;
                margin: .3rem 0;

                &:hover {
                    transform: translateY(0);
                }

                .home_single_project_edit_container {
                    width: 100%;
                    flex: 2;
                    gap: .25rem;

                    .home_single_project_edit_input {
                        width: 80%;
                        padding: .25rem .5rem;
                        font-size: .75rem;
                    }

                    .home_single_project_edit_button {
                        padding: .1rem .35rem;
                        width: 35%;
                        font-size: .8rem;
                    }
                }

                .home_single_project_link {
                    gap: .15rem;

                    .project_title_text {
                        font-size: 1rem;
                        letter-spacing: .025rem;
                        line-height: 1.05rem;
                    }

                    .project_date_text {
                        font-size: .65rem;
                    }
                }

                .project_buttons_container {
                    gap: 1.25rem;

                    .project_button_container {
                        width: 1.25rem;
                        height: 1.25rem;
                        padding: .5rem;

                        i {
                            font-size: .8rem;

                        }

                        &:hover {
                            translate: 0 0;
                            color: var(--app-text-color);
                        }
                    }
                }
            }
        }
    }
}


// Media queries for small tablet content (square)
@media screen and (min-height: 651px) and (min-width: 501px) and (max-width: 700px) {

    // Home content
    .home_container {
        gap: .85rem;

        .home_projects_main_title {
            font-size: 1.85rem;
        }

        .home_projects_container {
            gap: .15rem;

            .home_single_project_container {
                width: 40%;
                height: 32%;
                margin: .65rem 0;

                &:hover {
                    transform: translateY(0);
                }

                .home_single_project_link {

                    .project_title_text {
                        font-size: 1.225rem;
                        line-height: 1.5rem;
                    }
                }

                .project_buttons_container {

                    .project_button_container {
                        width: 1.65rem;
                        height: 1.65rem;
                        padding: .25rem;

                        i {
                            font-size: 1rem;

                        }

                        &:hover {
                            translate: 0 0;
                            color: var(--app-text-color);
                        }
                    }
                }
            }
        }
    }


}


// Media queries for tablet content (portrait)
@media screen and (min-height: 651px) and (min-width: 701px) and (max-width: 1000px) {

    // Home content
    .home_container {

        .home_projects_container {

            .home_single_project_container {
                width: 28.5%;
                height: 37.5%;
                margin: .65rem 0;

                &:hover {
                    transform: translateY(0);
                }

                .home_single_project_link {

                    .project_title_text {
                        font-size: 1.35rem;
                        line-height: 1.5rem;
                    }
                }

                .project_buttons_container {

                    .project_button_container {

                        &:hover {
                            translate: 0 0;
                            color: var(--app-text-color);
                        }
                    }
                }
            }
        }
    }
}


// Media queries for very wide screens content
@media screen and (max-height: 750px) and (min-width: 1001px) {

    // Home content
    .home_container {
        height: 67.5%;
        gap: .5rem;

        .home_projects_main_title {
            font-size: 1.65rem;
        }

        .home_projects_container {
            gap: 0rem;
            padding: .15rem;

            .home_single_project_container {
                width: 28.5%;
                height: 50%;

                &:hover {
                    transform: translateY(0);
                }

                .home_single_project_link {
                    gap: .25rem;

                    .project_title_text {
                        font-size: 1.2rem;
                        line-height: 1.35rem;
                    }
                }

                .project_buttons_container {

                    .project_button_container {

                        &:hover {
                            translate: 0 0;
                            color: var(--app-text-color);
                        }
                    }
                }
            }
        }
    }
}