// Input field content
.input_form {
    height: 8%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;

    .input_field {
        height: 100%;
        width: 100%;
        padding: .5rem 22% .5rem 1rem;
        border-radius: .375rem;
        border: .05rem solid var(--app-special-support-color);
        box-shadow: 0 0 .2rem var(--app-general-box-shadow-color);
        font-family: 'Neucha', cursive;
        font-size: 1.1rem;
        letter-spacing: .035rem;

        &:focus {
            outline: .025rem solid var(--app-secondary-color);
            box-shadow: 0 0 .7rem 50rem var(--task-input-box-shadow-focus-color);
        }
    }

    .input_button {
        position: absolute;
        top: 10%;
        right: 1%;
        background-color: var(--app-primary-color);
        color: var(button-color);
        border-radius: .75rem;
        border: none;
        width: 20%;
        height: 80%;
        box-shadow: 0 0 .5rem .3rem var(--task-input-box-shadow-focus-color);
        cursor: pointer;
        font-size: 1.05rem;
        font-weight: bold;
        transition: all .1s ease-in-out;

        &:active {
            scale: .9;
        }

        &:hover {
            background-color: var(--app-primary-support-color);
        }
    }
}