// Error page content
.errorpage_container {
    width: 90%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
        height: 85%;
    }

    p {
        margin: 0;
        font-size: 1.25rem;
        word-spacing: .25rem;
        letter-spacing: .1rem;
        color: var(--app-text-color);
        transition: all .2s ease-in-out;
    }

    .error_page_link {
        margin: 1.5rem 0rem;
        padding: .6rem 1.5rem;
        font-size: 1.5rem;
        word-spacing: .15rem;
        text-decoration: none;
        color: var(--app-primary-support-color);
        border: .1rem solid var(--app-primary-support-color);
        border-radius: .25rem;
        transition: all .2s ease-in-out;

        &:hover {
            @keyframes backAndForth {
                0% {
                    translate: -5% 0;
                }
                100% {
                    translate: 0 0;
                }
            }
            animation: backAndForth .35s ease 0s infinite alternate-reverse;
        }
    }
}


@import './media';