// Media query for mobile content (portrait)
@media screen and (max-width: 500px) and (min-height: 501px) {

    // App content
    .app_container {
        gap: 1rem;
    }


    // Navbar content
    .navbar_container {
        padding: .25rem 1rem;

        .navbar_link {
            width: fit-content;
            margin: .4rem;
            padding: .075rem .15rem;
            gap: .5rem;

            &>i {
                font-size: .95rem;
            }

            &>p {
                font-size: .9rem;
            }
        }

        .heading {
            font-size: 1.75rem;
            letter-spacing: .02rem;
            word-spacing: .25rem;
        }

        .support_buttons_container {
            font-size: 1rem;
            gap: 1.25rem;

            .support_button_icon_container {
                width: 1.2rem;
                height: 1.2rem;

                i {
                    font-size: 1.2rem;

                    &:hover {
                        color: var(--app-text-color);
                        translate: 0 0;
                    }

                    &:active {
                        color: var(--app-primary-support-color);
                        translate: 0 -12%;
                    }
                }
            }
        }
    }


    // Footer content
    .footer_container {
        padding: .125rem .5rem;

        .footer_text {

            p {
                word-spacing: .025rem;
                font-size: .7rem;
            }
        }

        .footer_icon_container {
            gap: .5rem;

            a {
                width: 1.5rem;
                height: 1.5rem;
                padding: .5rem;

                i {
                    font-size: .95rem;
                }

                &:hover {

                    i {
                        color: var(--footer-color);
                        translate: 0 0;
                    }
                }

                &:active {

                    i {
                        color: var(--app-link-border-color);
                        translate: 0 -12.5%;
                    }
                }
            }
        }
    }


    // Help Pop Up content
    .help_popup_container {
        top: 7.5%;
        width: 75%;
        padding: 1rem 1.25rem;

        .help_popup_title {
            font-size: 1.4rem;
            letter-spacing: .02rem;
        }

        .help_popup_subtitle {
            font-size: .95rem;
            padding-top: .5rem;
        }

        .help_popup_description_list {
            padding: 1rem 0 0 1rem;

            li {
                font-size: .885rem;
                line-height: 1.25rem;
                padding-bottom: .4rem;
            }
        }

        .help_popup_exit_button {
            top: 0;
            right: 1.5%;
            font-size: 1.15rem;
        }
    }
}


// Media query for very small screens (mobile)
@media screen and (max-width: 500px) and (max-height: 500px) {

     // App content
     .app_container {
        gap: .5rem;
    }


    // Navbar content
    .navbar_container {
        padding: .15rem .35rem;

        .navbar_link {
            width: fit-content;
            margin: .25rem;
            padding: .05rem .15rem;
            gap: .4rem;

            &>i {
                font-size: .75rem;
            }

            &>p {
                font-size: .7rem;
            }
        }

        .heading {
            font-size: 1.2rem;
            letter-spacing: .01rem;
            word-spacing: .15rem;
        }

        .support_buttons_container {
            font-size: .8rem;
            gap: 1rem;

            .support_button_icon_container {
                width: 1rem;
                height: 1rem;

                i {
                    font-size: 1rem;

                    &:hover {
                        color: var(--app-text-color);
                        translate: 0 0;
                    }

                    &:active {
                        color: var(--app-primary-support-color);
                        translate: 0 -12%;
                    }
                }
            }
        }
    }


    // Footer content
    .footer_container {
        padding: .125rem .25rem;

        .footer_text {

            p {
                word-spacing: .015rem;
                font-size: .5rem;
            }
        }

        .footer_icon_container {
            gap: .35rem;

            a {
                width: .8rem;
                height: .8rem;
                padding: .05rem;

                i {
                    font-size: .6rem;
                }

                &:hover {

                    i {
                        color: var(--footer-color);
                        translate: 0 0;
                    }
                }

                &:active {

                    i {
                        color: var(--app-link-border-color);
                        translate: 0 -12.5%;
                    }
                }
            }
        }
    }


    // Help Pop Up content
    .help_popup_container {
        top: 10%;
        width: 80%;
        padding: .5rem .75rem;

        .help_popup_title {
            font-size: 1rem;
            letter-spacing: .01rem;
        }

        .help_popup_subtitle {
            font-size: .8rem;
            padding-top: .4rem;
        }

        .help_popup_description_list {
            padding: .7rem 0 0 1rem;

            li {
                font-size: .675rem;
                line-height: 1rem;
                padding-bottom: .3rem;
            }
        }

        .help_popup_exit_button {
            top: 0;
            right: 1.5%;
            font-size: 1.15rem;
        }
    }
}


// Media queries for mobile content (landscape)
@media screen and (max-height: 650px) and (min-width: 501px) and (max-width: 1000px) {

    // App content
    .app_container {
        gap: .25rem;
    }


    // Navbar content
    .navbar_container {
        padding: .25rem 1rem;

        .navbar_link {
            margin: .5rem;
            padding: .1rem .15rem;
            gap: .5rem;

            &>i {
                font-size: .95rem;
            }

            &>p {
                font-size: .85rem;
            }
        }

        .heading {
            font-size: 1.4rem;
            letter-spacing: .015rem;
            word-spacing: .15rem;
        }

        .support_buttons_container {
            font-size: 1rem;
            gap: 1.25rem;

            .support_button_icon_container {
                width: 1.2rem;
                height: 1.2rem;

                i {
                    font-size: 1.2rem;

                    &:hover {
                        color: var(--app-text-color);
                        translate: 0 0;
                    }

                    &:active {
                        color: var(--app-primary-support-color);
                        translate: 0 -12%;
                    }
                }
            }
        }
    }


    // Footer content
    .footer_container {
        height: 6%;
        padding: .125rem 1rem;

        .footer_text {

            p {
                letter-spacing: .035rem;
                word-spacing: .025rem;
                font-size: .7rem;
            }
        }

        .footer_icon_container {
            gap: .85rem;

            a {
                width: 1rem;
                height: 1rem;
                padding: .5rem;

                i {
                    font-size: .85rem;
                }

                &:hover {

                    i {
                        color: var(--footer-color);
                        translate: 0 0;
                    }
                }
            }
        }
    }


    // Help Pop Up content
    .help_popup_container {
        width: 50%;
        padding: 1.1rem;

        .help_popup_title {
            font-size: 1.4rem;
            letter-spacing: .025rem;
        }

        .help_popup_subtitle {
            font-size: 1.05rem;
        }

        .help_popup_description_list {
            padding: .75rem 0 0 1rem;

            li {
                font-size: .85rem;
                line-height: 1.1rem;
                padding-bottom: .4rem;
                text-transform: lowercase;

                &::first-letter {
                    text-transform: uppercase;
                }
            }

            li:nth-of-type(3)::before {
                content: 'Touch and hold to ';
            }
        }
    }
}


// Media queries for small tablet content (square)
@media screen and (min-height: 651px) and (min-width: 501px) and (max-width: 700px) {

    // Navbar content
    .navbar_container {

        .navbar_link {
            margin: .35rem;
            padding: .15rem .35rem;
            gap: .5rem;
        }


        .heading {
            font-size: 1.85rem;
            letter-spacing: .04rem;
            word-spacing: .35rem;
        }

        .support_buttons_container {

            .support_button_icon_container {

                i {
                    &:hover {
                        color: var(--app-text-color);
                        translate: 0 0;
                    }
                }
            }
        }
    }


    // Help Pop Up content
    .help_popup_container {
        width: 60%;
        padding: 1.5rem;

        .help_popup_title {
            font-size: 1.55rem;
            letter-spacing: .035rem;
        }

        .help_popup_subtitle {
            font-size: 1.2rem;
        }

        .help_popup_description_list {
            padding: 1.25rem 0 0 1rem;

            li {
                font-size: 1rem;
                line-height: 1.25rem;
                padding-bottom: .5rem;
                text-transform: lowercase;

                &::first-letter {
                    text-transform: uppercase;
                }
            }

            li:nth-of-type(3)::before {
                content: 'Touch and hold to ';
            }
        }
    }


    // Footer content
    .footer_container {

        .footer_icon_container {

            a {
                width: 1.5rem;
                height: 1.5rem;
                padding: .5rem;

                i {
                    font-size: 1.05rem;
                }

                &:hover {

                    i {
                        color: var(--footer-color);
                        translate: 0 0;
                    }
                }
            }
        }
    }
}


// Media queries for tablet content (portrait)
@media screen and (min-height: 651px) and (min-width: 701px) and (max-width: 1000px) {

    // Navbar content
    .navbar_container {

        .navbar_link {
            margin: .6rem;
            padding: .25rem .4rem;
            gap: .6rem;
        }

        .support_buttons_container {

            .support_button_icon_container {

                i {
                    &:hover {
                        color: var(--app-text-color);
                        translate: 0 0;
                    }
                }
            }
        }
    }


    // Help Pop Up content
    .help_popup_container {
        width: 50%;
        padding: 1.5rem;

        .help_popup_title {
            font-size: 1.55rem;
            letter-spacing: .035rem;
        }

        .help_popup_subtitle {
            font-size: 1.2rem;
        }

        .help_popup_description_list {
            padding: 1.25rem 0 0 1rem;

            li {
                font-size: 1rem;
                line-height: 1.25rem;
                padding-bottom: .5rem;
                text-transform: lowercase;

                &::first-letter {
                    text-transform: uppercase;
                }
            }

            li:nth-of-type(3)::before {
                content: 'Touch and hold to ';
            }
        }
    }
}


// Media queries for very wide screens content
@media screen and (max-height: 750px) and (min-width: 1001px) {

    // Navbar content
    .navbar_container {

        .navbar_link {
            margin: .275rem;
            padding: .05rem .35rem;
            gap: .45rem;
        }
    }


    // Help Pop Up content
    .help_popup_container {
        width: 50%;
        padding: 1.5rem;

        .help_popup_title {
            font-size: 1.55rem;
            letter-spacing: .035rem;
        }

        .help_popup_subtitle {
            font-size: 1.2rem;
        }

        .help_popup_description_list {
            padding: 1.25rem 0 0 1rem;

            li {
                font-size: 1rem;
                line-height: 1.25rem;
                padding-bottom: .5rem;
                text-transform: lowercase;

                &::first-letter {
                    text-transform: uppercase;
                }
            }

            li:nth-of-type(3)::before {
                content: 'Touch and hold to ';
            }
        }
    }


    // Footer content
    .footer_container {
        height: 6%;

        .footer_text {

            p {
                font-size: .725rem;
            }
        }

        .footer_icon_container {
            gap: 1rem;

            a {
                width: 1.15rem;
                height: 1.15rem;
                padding: .15rem;

                i {
                    font-size: .8rem;
                }

                &:hover {

                    i {
                        color: var(--footer-color);
                        translate: 0 0;
                    }
                }
            }
        }
    }
}