// Media query for mobile content (portrait)
@media (max-width: 500px) {
    .app_container {
        gap: 1rem;

        .heading {
            margin-top: 1rem;
            font-size: 2rem;
        }
    }
}